{% extends 'account/base.html' %}
{% block head_title %}
Account Detail
{% endblock head_title %}

{% block content %}

<div class="container mt-4">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Acc Detail</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square mr-2 text-primary"></i></span>
					<span><i class="fab fa-google-plus-square mr-2 text-danger"></i></span>
					<span><i class="fab fa-twitter-square text-primary"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form method="POST">
					{% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="username" value="{% if user %}{{user.username}}{% endif %}" placeholder="username">
						
					</div>

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope "></i></span>
						</div>
						<input type="email" class="form-control" name="email" value="{% if user %}{{user.email}}{% endif %}"  placeholder="email">
						
					</div>
					
					
					  {% if success_message %}
    					<p style="color:green; text-align: center;">{{success_message}}</p>
  					{% endif  %}

					  {% for field in form %}
							<p>
								{% for error in field.errors %}
								<p style="color: red">{{ error }}</p>
								{% endfor %}
							</p>
						{% endfor %}
						
					
					<div class="form-group">
						<input type="submit" value="Change" class="btn float-right btn-secondary">
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
{% endblock content %}
